:root {
    --primary-color: #051567;
    --primary: #11152a;
    --secondary: #0e87cd;
    --background-color: #f2f2f2;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

nav {
    position: fixed;
    margin: 0px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(90deg, #051466, #0f8ad1);
    z-index: 3;
}

.nav-link {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-inline: 10px;
    line-height: 100px;
    text-transform: uppercase;
    transition: ease all 0.3s;
}

.nav-link > i {
    font-size: 10px;
    margin-left: 5px;
}

.nav-link:hover {
    color: #ccc;
}

.nav-links {
    margin-left: auto;
    width: fit-content;
}

.logo {
    position: inherit;
    height: 100px;
    width: 300px;
    background-image: url('images/premier.svg');
    background-repeat: no-repeat;
    background-size: fit;
    background-position: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 95vh;
    width: 100%;
    background-color: #1a1a1a;
}

.main-desc {
    text-align: center;
    color: #fff;
    font-size: 38px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    z-index: 2;
}

.main-btns {
    z-index: 2;
}

.main-desc > h1{
    margin-block: 3px;
}

.mainImg {
    background-image: url(./images/6037ee3b1fac18ca98dc73b0_Truck_optimized_1600x2.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(4px) brightness(0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.btn {
    font-family: 'Roboto condensed', sans-serif;  
    background-color: #333;
    height: 60px;
    width: 200px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
}

.btn:hover {
    cursor: pointer;
}

.line {
    display: block;
    background-color: #fff;
    width: 70%;
    height: 1px;
    margin-block: 10px;
}

.Testimonials-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.testimonial {
    width: 70%;
    margin-inline: auto;
    margin-block: 120px;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    display: block;
}

.testimonial > h1 {
    color: #333;
}

.testimonial > p {
    color: #5d5d5d;
    font-weight: 500;
}

#haulBtn:hover {
    background-color: #006aa7 !important;
}

#learnBtn:hover {
    background-color: #00000071 !important;
}

.slideBtn {
    border: none;
    background-color: #fff0;
    color: #333;
    font-size: 22px;
    cursor: pointer;
    width: 120px;
}

.Warehousing {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.warehouseDesc {
    font-family: 'Roboto Condensed', sans-serif;
}

.warehouseLoca {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.location {
    display: block;
    background-color: #fff0;
    width: 500px;
    height: 600px;
    margin-inline: 30px;
    border-radius: 3px;
}

.location:hover > img {
    transform: scale(1.1);
    transition: ease all 0.3s;
}

.locationImg {
    width: 90%;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.locationDesc {
    color: #fff;
}

.locationBtns {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
}

.locationBtn {
    display: inline-block;
    background-color: var(--secondary);
    color: #fff;
    padding: 10px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    margin-inline: 10px;
    text-decoration: none;
    border-radius: 3px;
}

.locationBtn:hover {
    background-color: #006ead;
}

.section {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-drop {
    background-color: #fff;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    margin-top: 100px;

}

.drop-link {
    text-decoration: none;
    color: #333;
    padding: 5px;
    background-color: #fff0;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: solid 1px #fff;
}

.drop-link:hover {
    background-color: #e9e9e9;
    border-bottom: solid 1px var(--secondary);
}

#servicesDrop {
    cursor: pointer;
}

#servicesDrop:hover > .nav-drop {
    display: flex;
}

#contactUs {
    border: solid 1px #fff;
    border-radius: 5px;
    height: 20px;
    font-size: 15px;
    padding: 8px;
    background-color: #fff0;
}

#contactUs:hover {
    background-color: #fff;
    color: #333;
}