:root {
    --primary-color: #051567;
    --primary: #11152a;
    --secondary: #0e87cd;
    --background-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

nav {
    position: fixed;
    margin: 0px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(90deg, #051466, #0f8ad1);
    z-index: 3;
    top: 0px;
}

.nav-link {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-inline: 10px;
    line-height: 100px;
    text-transform: uppercase;
    transition: ease all 0.3s;
}

.nav-link > i {
    font-size: 10px;
    margin-left: 5px;
}

.nav-link:hover {
    color: #ccc;
}

.nav-links {
    margin-left: auto;
    width: fit-content;
}

.logo {
    position: inherit;
    height: 100px;
    width: 300px;
    background-image: url('images/premier.svg');
    background-repeat: no-repeat;
    background-size: fit;
    background-position: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120vh;
    width: 100%;
    background-color: #1a1a1a;
}

.main-desc {
    text-align: center;
    color: #fff;
    font-size: 38px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    z-index: 2;
}

.main-btns {
    z-index: 2;
}

.main-desc > h1{
    margin-block: 3px;
}

.mainImg {
    background-image: url(./images/6037ee3b1fac18ca98dc73b0_Truck_optimized_1600x2.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(4px) brightness(0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.btn {
    font-family: 'Roboto condensed', sans-serif;  
    background-color: #333;
    height: 60px;
    width: 200px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
}

.btn:hover {
    cursor: pointer;
}

.line {
    display: block;
    background-color: #fff;
    width: 70%;
    height: 1px;
    margin-block: 10px;
}

.Testimonials-slider {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.testimonial {
    width: 70%;
    margin-inline: auto;
    margin-block: 120px;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.testimonial > h1 {
    color: #333;
}

.testimonial > p {
    color: #5d5d5d;
    font-weight: 500;
}

.slideText {
    font-size: 20px;
}

.slideImg {
    margin-right: 35px;
}

.slideImg > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#haulBtn:hover {
    background-color: #006aa7 !important;
}

#learnBtn:hover {
    background-color: #00000071 !important;
}

.slideBtn {
    border: none;
    background-color: #fff0;
    color: #333;
    font-size: 22px;
    cursor: pointer;
    width: 120px;
}

.Warehousing {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.warehouseDesc {
    font-family: 'Roboto Condensed', sans-serif;
}

.warehouseLoca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 100px;
}

.location {
    display: block;
    background-color: #fff0;
    width: 500px;
    height: 600px;
    margin-inline: 30px;
    border-radius: 3px;
}

.location:hover > img {
    transform: scale(1.1);
    transition: ease all 0.3s;
}

.locationImg {
    width: 90%;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.locationDesc {
    color: #fff;
}

.locationBtns {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
}

.locationBtn {
    display: inline-block;
    background-color: var(--secondary);
    color: #fff;
    padding: 10px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    margin-inline: 10px;
    text-decoration: none;
    border-radius: 3px;
}

.locationBtn:hover {
    background-color: #006ead;
}

.section {
    display: flex;
    height: 75vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-drop {
    background-color: #fff;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    margin-top: 100px;
    margin-left: 210px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0px 0px 5px 5px;
}

.drop-link {
    margin-top: 0px !important;
    text-decoration: none;
    color: #333;
    padding: 5px;
    background-color: #fff0;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: solid 1px #fff;
    padding-inline: 10px;
}

.drop-link:hover {
    background-color: #e9e9e9;
    border-bottom: solid 1px var(--secondary);
}

#servicesDrop {
    cursor: pointer;
}

#servicesDrop:hover > .nav-drop {
    display: flex;
}

#contactUs {
    border: solid 1px #43bbf3;
    border-radius: 5px;
    height: 20px;
    font-size: 15px;
    padding: 8px;
    background-color: #fff0;
}

#contactUs:hover {
    background-color: #fff;
    color: #333;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    will-change: transform;
}

.footer {
    height: 55vh;
    width: calc(100%-150px);
    background-color: #11152a;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.footerList > h3 {
    margin-top: 0px;
}

.footerList {
    display: flex;
    flex-direction: column;
    margin-inline: 5vw;
    margin-top: 120px;
}

.logoList > a {
    margin-left: 16px;
}

.footerList > img {
    height: 80px;
}

.footerLink {
    color: #bbb;
    text-decoration: none;
    margin-block: 5px;
    transition: ease all 0.3s;
}

.footerLink:hover {
    color: #fff;
}

.contactLink {
    color: #0e87cd;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    width: 90%;
    padding-bottom: 5px;
    border-bottom: solid 1px #fff0;
}

.contactLink:hover {
    border-bottom: solid 1px #0e87cd;
}

.sectionText {
    width: 85%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insurance {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.insuranceBody {
    display: flex;
    flex-direction: column;
    width: calc(100% - 280px);
    margin-inline: 5vw;
    margin-top: 20px;
    padding-bottom: 100px;
}

.insuranceBody > h1 {
    font-size: 40px;
    color: #0e87cd;
    text-transform: capitalize;
    margin-block: 0px;
   padding-top: 110px;
}

.insuranceBody > p {
    color: #333;
    font-size: 20px;
}

.insuranceBody > ul > li {
    color: #333;
    font-size: 20px;
    margin-block: 15px;
}

.contents {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 280px;
    color: #333;
    margin-right: 30px;
    position: fixed;
    right: 0px;
}

.contentHold {
    width: 280px;
    margin-right: 30px;
}

.contents > h1 {
    margin: 0px;
}

.contentLink {
    color: var(--secondary);
    text-transform: capitalize;
    text-decoration: none;
    margin-block: 5px;
}

.contentLink:hover {
    text-decoration: underline;
}

.headLine {
    background-color: #333;
    display: block;
    width: 100%;
    height: 1px;
    margin-block: 10px;
}

.insuranceFaq {
    display: flex;
    flex-direction: column;
}

.faqBtn {
    font-family: 'Roboto';
    color: #333;
    text-align: left;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-bottom: solid 1px #d2d2d2;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.faqBtn > p {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.faqBtn > p > i {
    margin-left: auto;
    margin-right: 7.5px;
}

.faqBtn > div {
    display: none;
    overflow: hidden;
}

.faqBtn > div > p {
    height: 100%;
}

.bodyTop {
    text-align: center;
    background: linear-gradient(90deg, #051466, #0f8ad1);
    color: #fff !important;
    padding: 20px;
    border-radius: 3px;
    margin-block: 20px;
    padding-top: 20px !important;
}

.blockQuote {
    border-left: solid 4px #43bbf373;
    padding-left: 7.5px;
    padding-block: 7.5px;
    font-size: 25px !important;
    font-weight: 600;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 100px;
    min-height: 80vh;
}

.aboutPremier {
    width: 80%;
    margin-inline: auto;
}

.aboutPremier > p > a:hover {
    text-decoration: underline !important;
}

.aboutPremier > p {
    font-size: 20px;
}

.aboutPremier > h1 {
    font-size: 30px;
}

.aboutGrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 15vh;
    column-gap: 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-inline: auto;
    padding-bottom: 100px;
}

.aboutGridItem {
    color: #333;
    width: 18vw;
    min-height: 281px;
}

.aboutGridItem > img {
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    width: 100%;
}

.aboutGridItem > h2 {
    font-size: 18px !important;
}

.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 90vh;
}

.contactBox {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    width: 60%;
    transform: scale(1.2);
}

.contactInfo {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    margin-right: 40px;
}

.contactInfo > a {
    color: #fff;
    text-decoration: none;
    margin-block: 10px;
    font-size: 18px;
}

.contactInfo > a:hover {
    color: #43bbf3;
}

.contactInfo > a > i {
    margin-right: 20px;
}


.contactInput {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 486px;
    margin-inline: auto;
}

.contactInput > textarea {
    outline: none;
    border: none;
    border-bottom: solid 1px #f2f2f2;
    font-family: 'Roboto';
    font-size: 18px;
    height: 45px;
}

.contactInput > textarea:focus {
    border-bottom: solid 1px #43bbf3;
}

.contactBtn {
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-top: 20px;
    border: solid 1px #fff0;
    border-radius: 5px;
    background-color: #1a1a1a;
    font-size: 16px;
    font-family: 'Roboto';
    color: #fff;
    cursor: pointer;
}

.contactBtn:hover {
    background-color: #323232;
}

.inlineInput {
    display: flex;
    flex-direction: row;
}

.blockInput {
    display: flex;
    flex-direction: column;
}

.blockInput > input {
    font-family: 'Roboto';
    font-size: 18px;
    display: block;
    border: none;
    border-bottom: solid 1px #f2f2f2;
    height: 35px;
    width: 220px;
}

.blockInput > input:focus {
    outline: none;
    border-bottom: solid 1px #43bbf3;
}